**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/obj
**/Dockerfile*
**/docker-compose*
**/compose*
**/.toolstarget
**/.vs
**/.idea
